{% extends 'main.html' %} {% load static %} {% block content %}
<div class="about vh-100 vw-100" style="background-color: #343541">
  <div
    class="d-flex p-3 justify-content-center align-items-center"
    style="background-color: #24252d"
  >
    <div class="">
      <img src="{% static 'assets/logo.svg' %}" alt="image" />
    </div>
    <div>
      <span class="h1 fw-bold mb-0" style="color: white; margin-left: 10px"
        >G<span style="color: #fa5c18">o</span>PT</span
      >
    </div>
  </div>
  <div class="d-flex p-3 justify-content-center align-items-center">
    <div class="text-white">
      <p>
        There are Three(3) Tertiary (University of Ghana, University of Professional Studies, Kwame Nkrumah University of
        Science and Technology) that you can select so that GoPTai can help you
        know anything about them.
      </p>
      <div class="mb-3">
        <h4>About School Enquiries Chatbot: Your Admission Companion</h4>
        <p>
          Welcome to our state-of-the-art School Enquiries Chatbot – your
          ultimate companion for all things related to school admissions and
          inquiries. We understand that the process of selecting the right
          school and gathering information can sometimes feel overwhelming.
          That's where our intelligent chatbot comes in to make your journey
          smoother, easier, and more efficient.
        </p>
      </div>
      <div class="mb-3">
        <h4>Why Choose Our Chatbot?</h4>
        <p>
          Our School Enquiries Chatbot is designed with your convenience in
          mind. It's a friendly and knowledgeable digital assistant that's
          available around the clock to address your queries and provide
          accurate information. Whether you're a parent seeking admission
          details, a student exploring academic programs, or anyone interested
          in knowing more about our school, our chatbot has got you covered.
        </p>
      </div>
      <div class="mb-3 key-features-ls">
        <h4>Key Features:</h4>
        <ol class="list-group list-group-numbered">
          <li class="list-group-item">
            <span class="fw-bold">Instant Information: </span>No more waiting for office hours or sifting
            through complex websites. Our chatbot delivers instant answers to
            your questions, helping you make well-informed decisions at your own
            pace.
          </li>
          <li class="list-group-item">
            <span class="fw-bold">Admission Guidance: </span>Confused about the admission process? Our
            chatbot provides step-by-step guidance, explaining the application
            procedure, required documents, deadlines, and any other
            admission-related queries you may have.
          </li>
          <li class="list-group-item">
            <span class="fw-bold">Program Insights: </span>Learn about our diverse range of academic programs, extracurricular
            activities, and facilities through interactive conversations with
            the chatbot. Get a clear picture of what we offer and find the
            perfect fit for your educational aspirations.
          </li>
          <li class="list-group-item">
            <span class="fw-bold">Personalized Recommendations: </span>Based on your interests and preferences, our chatbot can suggest
            programs and activities that align with your goals, making it easier
            to envision your journey with us.
          </li>
          <li class="list-group-item">
            <span class="fw-bold">24/7 Availability: </span>Have a question at midnight or during a busy day? Our chatbot is
            available 24/7, ensuring that you never miss out on the information
            you need.
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
{% endblock %}
